
name: .NET Maui Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug]

    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: build
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Install MAUI workload
      run: dotnet workload install maui
    - run: dotnet build GithubActionsLearn

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: maui-build
        path: |
          GithubActionsLearn/bin/Debug/
